[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.biography.com/.image/t_share/MTE4MDAzNDEwODQwOTQ2MTkw/ada-lovelace-20825279-1-402.jpg
Type=Link
URL=https://www.biography.com/.image/t_share/MTE4MDAzNDEwODQwOTQ2MTkw/ada-lovelace-20825279-1-402.jpg
Icon=image-jpeg
Name[en_US]=ada.jpg
